{% extends 'layout.html.twig' %}


{% block title %}Video pitch Adrien{% endblock %}
{% block content %}
<div class="container" id="debut">
	<div class="container">
		<div class="media">
			<div class="media-left media-middle">
				<video src="videos/adrien_juhem_video.mp4" controls="controls" poster="images_adrien/adrien_juhem_photo_video.jpg" width="560" height="315"></video>
			</div>
			<div class="media-body">
				<h1 class="media-heading">Ma video pitch</h1>
				<p>Voici une vidéo de présentation d'une minute et trente secondes. En plus de me présenter, j'expose mon projet professionel ainsi que mes motivations pour entrer dans le programme du Campus numérique in the Alps. Je vous laisse visionner cette vidéo et s'il vous plaît : Soyez indulgent ! :=) </p>
			</div>
		</div>
	</div>
</div>	
{% endblock %}